@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("normalize.css");
@import url("fontello.css");
*, *::before, *::after{
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  color: inherit;
  text-decoration: none;
}
/* 숨김 콘텐츠 */
.readable-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0,0,0,0);
  margin: -1px;
  overflow: hidden;
}
html{
  font-size: 10px;
}
body {
  background-color: #fff;
  font-size: 1.4rem;
  color: #181818;
  font-family: 'Spoqa Han Sans';
}
/* 레이아웃 */
.wrapper{
  background-color: silver;
  background-image: url("images/bg_flower.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: #FFF;
  padding: 0 30px 40px;
  position: relative;
}
/* 로고 */
.logo{

    padding: 45px 0 0  35px;
  
}
/* 멤버 링크 */
.member{
  display: flex;
  justify-content: flex-end;
  margin-top: -70px;
  margin-right: -10px;
}
.member li{
  text-transform: uppercase;
}
.member li:nth-child(n+2)::before{
  content: ":";
}
.member a{
  padding: 5px 10px;
}

/* 메인 메뉴 */
.menu{
  display: flex;
  background: linear-gradient(to bottom, #ffc15e 0%,#ffa011 35%,#ff9900 65%,#ffc15e 100%);
  background-color: #ffc15e;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  margin-top: 10px;
  padding-left: 225px;
  height: 47px;
  align-items: center;
}
.menu-item{
  border-left: 2px solid rgba(255,255,255,.5);
  /* flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 1; */
  flex: 1 1 auto;
  text-align: center;
  position: relative;
}
.menu-item-text{
  /* justify-content: space-between; */
  /* 메뉴에 height 47px 주지 않았는데 블록이 잡힌 이유를 모르겠다. */
  /* padding: 0 20px; */
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
  text-shadow: 1px 0px 0 #181818, 0 1px 0 #181818, -1px 0 0 #181818, 0 -1px 0 #181818;
}
.sub-menu{
  position: absolute;
  display: none;
  top: 35px;
  white-space: nowrap;
}
.sub-menu li{
  display: inline-block;
}
.sub-menu a{
  display: inline-block;
  padding: 8px 5px 10px 0;
  margin-right: 10px;
}
.sub-menu a::before{
  font-family: "fontello";
  content: "\e804";
}
.sub-menu a:hover:before{
  content: "\e800";
}

.visual {
  background-color: lime;
  height: 10vh;
}
.main {
  background-color: skyblue;
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}
.group{
  height: 20vh;
}
.group1{
  background-color: rgba(255,255,255,.5);
  width: 250px;
}
.group2{
  background-color: hsla(120,70%,60%,.5);
  width: 380px;
}
.group3{
  background-color: tomato;
  width: 190px;
}

.slogan {
  background-color: blueviolet;
  height: 10vh;
}
.footer{
    background-color: #FFF;
    height: 10vh;
  }
.footer-bg{
  background-color: orange;
}